
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --light-color: #ffffff ;
    --dark-color: #2f3542;
}
button,textarea{
    border: 0;
    outline: 0;
    resize: none;
}

.note-app{
    min-height: 100vh;
    background-color: var(--dark-color);
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 500;
}
.note-list{
    list-style: none;
    column-gap: 15px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.note-btn{
height: 30px;
background: #edebeb;
padding: 0 20px;
}
.add-note button{
    width: 100px;
    height: 100px;
    background-color: var(--dark-color);
    border-radius: 50%;
}
.add-note button i{
   font-size: 2rem;
   color: var(--light-color);
}
.note-btn i{
    cursor: pointer;
}
.note-btn .del{
    margin-left:15px;
    color: red;
}
.list-item textarea{
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
    font-size: 1rem;
}
.list-item{
    width: 250px;
    height: 250px; 
    border-radius: 10px;
    background-color:var(--light-color);
    overflow: hidden;
}

/* input pop  */
.pop-up{
   position: absolute; 
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.322);
   opacity: 0;
   pointer-events: none;
   transition: all .3s ease;
}
.pop-up.open{
    opacity: 1;
   pointer-events: auto;
}
.pop-up .note-input{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}
.note-input .top-bar{
    padding: 5px 18px;
    background-color: #edebeb;
}
.note-input .top-bar i{
    font-size: 1.2rem;
    cursor: pointer;
}
.note-input .top-bar i.fa-xmark{
    margin-left: 10px;
    color: red;
}
.note-input textarea{
    width: 100%;
    font: 1.2rem;
    padding: 5px 18px;
    height: 250px;
    
}



